@import url("stars.css");
@import url("static-stars.css");

:root {
    font-size: clamp(18px, 1.75vw, 22px);
    --light-text: oklch(0.9043 0 0);
    --transparent-black: oklch(0 0 0 / 50%);
    --purple: oklch(0.65 0.2396 306.32 / 40%);
}

/* ---------- Base page ---------- */

html {
    background: black;
}

body {
    position: relative;
    z-index: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: system-ui, sans-serif;
    color: var(--light-text);
    overflow: hidden;
    line-height: 1.4;
    font-family: Verdana, sans-serif;
}

/* ---------- Content ---------- */

main {
    max-width: calc(60ch + 20px);
    z-index: 2;

    article {
        padding: 10px 20px;
        border: 1px solid var(--purple);
        margin-bottom: 20px;
        background-color: var(--transparent-black);
    }
}

main blockquote {
    border-left: 2px solid #333;
    margin: 1rem 0;
    padding-left: 1rem;
    font-style: italic;
}

footer {
    opacity: 0.7;
}

footer a {
    opacity: 1;
    color: var(--light-text);
    text-decoration: #999 wavy underline;
}

footer a:hover {
    text-decoration-color: mediumpurple;
}
